<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joins.mappers.UserMapper">

    <select id="select" resultType="String">
        SELECT * FROM tbl_test ORDER BY `saved_time` DESC LIMIT 1
    </select>


    <!--<insert id="insert">-->
        <!--INSERT INTO tbl_test VALUE (now())-->
    <!--</insert>-->
 

</mapper>